{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "no-loops"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ], 
    "rules":{
        "no-console": 0, // Remember, 0 means off, 1 means warn and 2 means error
        "no-loops/no-loops": 0
    }
}